# mounting drive for data access

In [1]:
from google.colab import drive  
drive._mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# installing libraries

In [2]:
!pip install cdsapi
!pip install terality

Requirement already satisfied: cdsapi in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from cdsapi) (4.62.3)
Requirement already satisfied: requests>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from cdsapi) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (2.0.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (2.10)
Requirement already satisfied: terality in /usr/local/lib/python3.7/dist-packages (0.13.6)
Requirement already satisfied: requests<3.0.0,>=2.26.0 in /usr/local/lib/python3.7/dist-packages (from terality) (2.27.1)
Requirement already satisfied: pyarrow<7.0.0,>=6.0.0 in /usr/local/lib/python3.7/dist-packages (from terality) (6.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.1 in /usr/local/lib/python3.7/dist-packages (from terality) (2.8.2)
Requirement already satisfied: typing_extensions<4.0.0,>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from terality) (3.10.0.2)
Requirement already satisfied: numpy<2.0,>=1.18 in /usr/local/lib/python3.7/dist-packages (from terality) (1.19.5)
Requirement already satisfied: boto3<1.19.9,>=1.19.8 in /usr/local/lib/python3.7/dist-packages (from terality) (1.19.8)
Requirement already satisfied: aiobotocore<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from terality) (2.0.1)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from terality) (1.1.5)
Requirement already satisfied: sentry-sdk<2.0.0,>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from terality) (1.5.2)
Requirement already satisfied: cloudpickle<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from terality) (2.0.0)
Requirement already satisfied: protobuf<4.0.0,>=3.9.1 in /usr/local/lib/python3.7/dist-packages (from terality) (3.17.3)
Requirement already satisfied: single-source<0.2.0,>=0.1.5 in /usr/local/lib/python3.7/dist-packages (from terality) (0.1.5)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from terality) (1.26.8)
Requirement already satisfied: pydantic<2.0.0,>=1.7.3 in /usr/local/lib/python3.7/dist-packages (from terality) (1.9.0)
Requirement already satisfied: click<9.0.0,>=8.0.1 in /usr/local/lib/python3.7/dist-packages (from terality) (8.0.3)
Requirement already satisfied: botocore<1.22.9,>=1.22.8 in /usr/local/lib/python3.7/dist-packages (from aiobotocore<3.0,>=2.0->terality) (1.22.8)
Requirement already satisfied: aioitertools>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from aiobotocore<3.0,>=2.0->terality) (0.8.0)
Requirement already satisfied: aiohttp>=3.3.1 in /usr/local/lib/python3.7/dist-packages (from aiobotocore<3.0,>=2.0->terality) (3.8.1)
Requirement already satisfied: wrapt>=1.10.10 in /usr/local/lib/python3.7/dist-packages (from aiobotocore<3.0,>=2.0->terality) (1.13.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (5.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (21.4.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (0.13.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (2.0.10)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore<3.0,>=2.0->terality) (1.3.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3<1.19.9,>=1.19.8->terality) (0.10.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3<1.19.9,>=1.19.8->terality) (0.5.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from click<9.0.0,>=8.0.1->terality) (3.10.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->terality) (2018.9)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<4.0.0,>=3.9.1->terality) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.26.0->terality) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.26.0->terality) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->click<9.0.0,>=8.0.1->terality) (3.7.0)

In [3]:
import cdsapi
import netCDF4 as nc
from netCDF4 import num2date
from netCDF4 import Dataset
import numpy as np
import os
import terality as te
import pandas as pd
import xarray as xr

In [4]:
!terality account configure --email seafishleo@gmail.com

Your Terality API key: tla_zEJlMW8d7vpwG9Kdo2OcWupmEUvHQkfDwTX48slntkXt7KCFyNDxGYxVwXXk2cAUrX
WARNING: A Terality configuration file is already present at /root/.terality/config.json.
WARNING: A Terality credentials file is already present at /root/.terality/credentials.json.
Are you sure you want to overwrite the existing Terality configuration? [y/N]: y
Terality account succesfully configured on this system.



# Read Data from Drive

In [5]:
my_nc_file = '/content/drive/MyDrive/data/ERA5_monthly_north.csv'
north_data = te.read_csv(my_nc_file)
north_data.head(100)

    expver  latitude  longitude  ... smlt          sp      tco3
0        1      90.0     -180.0  ...  0.0  102661.984  0.007461
1        1      90.0     -180.0  ...  0.0  101824.310  0.009453
2        1      90.0     -180.0  ...  0.0  103086.290  0.010147
3        1      90.0     -180.0  ...  0.0  102567.760  0.009882
4        1      90.0     -180.0  ...  0.0  102258.340  0.008224
..     ...       ...        ...  ...  ...         ...       ...
95       1      90.0     -180.0  ...  0.0  101387.250  0.006347
96       1      90.0     -180.0  ...  0.0  101365.360  0.008430
97       1      90.0     -180.0  ...  0.0  102285.090  0.010711
98       1      90.0     -180.0  ...  0.0  102404.234  0.010109
99       1      90.0     -180.0  ...  0.0  102052.270  0.008831

[100 rows x 10 columns]

In [ ]:
# USING XARRAY
#my_nc_file = '/content/drive/MyDrive/data/ERA5_monthly_north.nc'
#ds = xr.open_dataset(my_nc_file)
#north_data = ds.to_dataframe()
#north_data.head(100)

In [6]:
north_data.dtypes

expver         int64
latitude     float64
longitude    float64
time          object
t2m          float64
siconc       float64
asn          float64
smlt         float64
sp           float64
tco3         float64
dtype: object

In [7]:
len(north_data)

141177600

In [8]:
north_data.count()

expver       141177600
latitude     141177600
longitude    141177600
time         141177600
t2m           70588800
siconc        52533444
asn           70588800
smlt          70588800
sp            70588800
tco3          70588800
dtype: int64

# Rename  & Calculation

In [9]:
north_data__renamed = north_data.rename(columns={'t2m':'temperature_2m','siconic':'sea_ice_area_fraction','asn':'Snow_albedo','smlt':'snow_melt','sp':'surface_pressure','tco3':
'Total_column_ozone'})

In [13]:
north_data__renamed = north_data__renamed.drop(['expver','latitude','longitude'],axis=1)

In [14]:
north_avg = north_data__renamed.groupby('time').mean()

In [15]:
north_avg

            temperature_2m    siconc  ...  surface_pressure  Total_column_ozone
time                                  ...
1979-01-01      248.048989  0.886943  ...      99971.627492            0.007569
1979-02-01      243.439591  0.900277  ...      99641.237045            0.009261
1979-03-01      249.055998  0.892728  ...     100240.042241            0.010040
1979-04-01      254.599298  0.901768  ...     100369.270964            0.009609
1979-05-01      265.495457  0.885108  ...      99839.279702            0.008514
...                    ...       ...  ...               ...                 ...
2021-08-01      275.370898  0.495820  ...      99085.033604            0.006339
2021-09-01      270.590873  0.496488  ...      99353.440456            0.006108
2021-10-01      263.929047  0.641613  ...      99299.263246            0.006653
2021-11-01      255.514865  0.790987  ...      99306.969931            0.006793
2021-12-01      251.392095  0.845896  ...      99387.044964            0.007020

[516 rows x 6 columns]

In [18]:
north_avg.dtypes

temperature_2m        float64
siconc                float64
Snow_albedo           float64
snow_melt             float64
surface_pressure      float64
Total_column_ozone    float64
dtype: object

# Load Seaice Extent Dataframe

In [143]:
n_seaice_df = pd.read_csv('/content/drive/MyDrive/data/N_seaice_extent_daily_v3.0.csv')
n_seaice_df

       Year  ...                                        Source Data
0      YYYY  ...   Source data product web sites: http://nsidc.o...
1      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_19...
2      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_19...
3      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_19...
4      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.11.01/nt_19...
...     ...  ...                                                ...
14123  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.03/nt_202...
14124  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.04/nt_202...
14125  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.05/nt_202...
14126  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.06/nt_202...
14127  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.07/nt_202...

[14128 rows x 6 columns]

In [144]:
n_seaice_df.drop([' Source Data','    Missing',' Day'], axis = 1, inplace = True)
n_seaice_df = n_seaice_df[n_seaice_df.Year != '1978']
n_seaice_df = n_seaice_df[n_seaice_df.Year != '2022']
n_seaice_df = n_seaice_df.iloc[1: , :]
n_seaice_df.reset_index(drop=True, inplace=True)
n_seaice_df

       Year   Month       Extent
0      1979      01       14.997
1      1979      01       14.922
2      1979      01       14.929
3      1979      01       14.968
4      1979      01       15.190
...     ...     ...          ...
14080  2021      12       12.947
14081  2021      12       12.978
14082  2021      12       13.050
14083  2021      12       13.149
14084  2021      12       13.183

[14085 rows x 3 columns]

In [145]:
n_seaice_df.dtypes

Year           object
 Month         object
     Extent    object
dtype: object

In [146]:
n_seaice_df["time"] = n_seaice_df["Year"].astype(str) + '-' + n_seaice_df[" Month"].str.strip()+'-01'
n_seaice_df['     Extent'] = n_seaice_df['     Extent'].astype(float)
n_seaice_df.drop(['Year',' Month'], axis = 1, inplace = True)
n_seaice_df

            Extent        time
0           14.997  1979-01-01
1           14.922  1979-01-01
2           14.929  1979-01-01
3           14.968  1979-01-01
4           15.190  1979-01-01
...            ...         ...
14080       12.947  2021-12-01
14081       12.978  2021-12-01
14082       13.050  2021-12-01
14083       13.149  2021-12-01
14084       13.183  2021-12-01

[14085 rows x 2 columns]

In [147]:
n_seaice_avg = n_seaice_df.groupby('time').mean()
n_seaice_avg

                 Extent
time
1979-01-01    15.414000
1979-02-01    16.175286
1979-03-01    16.341938
1979-04-01    15.446800
1979-05-01    13.856867
...                 ...
2021-08-01     5.753871
2021-09-01     4.915367
2021-10-01     6.770258
2021-11-01     9.808500
2021-12-01    12.219833

[516 rows x 1 columns]

# Join Two Dataframes

In [149]:
north_joined_df = north_avg.join(n_seaice_avg)
north_joined_df

INFO:terality:The result of te.dataframe.from_pandas was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

            temperature_2m    siconc  ...  Total_column_ozone       Extent
time                                  ...
1979-01-01      248.048989  0.886943  ...            0.007569    15.414000
1979-02-01      243.439591  0.900277  ...            0.009261    16.175286
1979-03-01      249.055998  0.892728  ...            0.010040    16.341938
1979-04-01      254.599298  0.901768  ...            0.009609    15.446800
1979-05-01      265.495457  0.885108  ...            0.008514    13.856867
...                    ...       ...  ...                 ...          ...
2021-08-01      275.370898  0.495820  ...            0.006339     5.753871
2021-09-01      270.590873  0.496488  ...            0.006108     4.915367
2021-10-01      263.929047  0.641613  ...            0.006653     6.770258
2021-11-01      255.514865  0.790987  ...            0.006793     9.808500
2021-12-01      251.392095  0.845896  ...            0.007020    12.219833

[516 rows x 7 columns]